.content {
  display: flex;
  justify-content: space-evenly;
}

.filter {
  -webkit-box-shadow: -16px 20px 22px -5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -16px 20px 22px -5px rgba(0, 0, 0, 0.1);
  box-shadow: -16px 20px 22px -5px rgba(0, 0, 0, 0.1);
  height: 500px;
  margin: 25px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.posts {
  max-width: 70%;
  min-width: 70%;
}
