.navbar {
  background-color: white;
  border: 1px solid lightgray;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 0;
}

.appName {
  font-weight: 900;
  font-size: xx-large;
  padding: 10px;
  cursor: pointer;
}

.write {
  padding: 10px 20px;
  font-size: large;
  cursor: pointer;
  margin-left: 20px;
}

.userName {
  padding: 10px 20px;
  margin-right: 20px;
  font-size: large;
  cursor: pointer;
  color: gray;
}

/* Tooltip text */
.userName .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.userName:hover .tooltiptext {
  visibility: visible;
  width: 250px;
  margin-left: -250px; /* Use half of the width (120/2 = 60), to center the tooltip */
}
