.navbar{
    background-color:white;
    border: 1px solid lightgray;
    margin:0px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 3px 0;
}

.appName{
    font-weight: 900;
    font-size: xx-large;
    padding: 10px;
    cursor: pointer;
}

.write{
    padding: 10px 20px;
    font-size: large;
    cursor: pointer;
}

.userName{
    padding: 10px 20px;
    font-size: large;
    cursor: pointer;
}


