.postCard {
  -webkit-box-shadow: 9px 7px 12px -3px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 9px 7px 12px -3px rgba(0, 0, 0, 0.14);
  box-shadow: 9px 7px 12px -3px rgba(0, 0, 0, 0.14);
  margin: 25px;
  padding: 10px;
  width: 95%;
}

.title {
  font-weight: 700;
  font-size: xx-large;
  padding: 10px;
  margin: 15px;
}

.author {
  font-weight: 300;
  font-size: large;
  padding: 5px 10px;
  margin: 18px;
}

.desc {
  font-weight: 300;
  font-size: medium;
  margin: 0px 25px 0px 15px;
  padding: 10px;
}
